
body{
  background-color: #171717;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items:center;
  margin-top: 20px;
}
h1{
  width: 100%;
  color: #CDF2CA;
  text-align: center;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: #CDF2CA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

#newbtn::after{
  content: "";
  width: 100%;
  height: 100%;
  background: #FFF9B6;
  position: absolute;
  z-index: 1;
  top: -60px;
  left: 0;
  transition: .3s ease-in-out all;
}
.btn span{
  position: relative;
  z-index: 2;
  transition: .3s ease all
}

#newbtn:hover::after{
  top: 0;
}

#printbtn::after{
  content: "";
  width: 1px;
  height: 1px;
  background:none ;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: .3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
#printbtn:hover::after{
  transform: scale(200);
  background: red;
}